<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.C183BF57-50D5-4D85-9584-FFFE1C091405</string>
	<key>lightthemeuid</key>
	<string>theme.custom.A696BC35-3F2A-4D87-8BCB-2A2CA4915158</string>
</dict>
</plist>
