<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cnsworder</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>34D555F7-23BA-44B4-BF2F-6C93E97619DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F6F36DE-2E4D-41AE-A675-4F2EE4238B1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>384ECB6A-F8F0-4CA7-A1B9-FA12EE17D12F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6757B32A-EBD7-46E9-9751-661F31BE75E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9566A7C2-4FEA-4889-8C80-EC5413EE7028</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADD77F5D-CE95-4629-A81E-1B8C2506413A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98471683-DA46-43C6-ACAA-71EC864EE12A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34D555F7-23BA-44B4-BF2F-6C93E97619DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD65F5B0-15B0-4069-B74D-A9C5307967AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9566A7C2-4FEA-4889-8C80-EC5413EE7028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cnsworder</string>
	<key>description</key>
	<string>run aria2c</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>aria2c</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ariad</string>
				<key>subtext</key>
				<string>Start aria2c daemon used dir</string>
				<key>text</key>
				<string>Aria2c daemon by dir</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>98471683-DA46-43C6-ACAA-71EC864EE12A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/bash
tquery="{query}"
/usr/local/bin/aria2c --conf-path=aria2.conf --dir="$tquery"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34D555F7-23BA-44B4-BF2F-6C93E97619DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Aria2c daemon runing</string>
				<key>title</key>
				<string>Aria2c</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7F6F36DE-2E4D-41AE-A675-4F2EE4238B1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/bash
tquery="{query}"
sed "s,\(dir=\).*,\1$tquery,g" aria2.conf &gt; tmp.conf
mv tmp.conf aria2.conf</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6757B32A-EBD7-46E9-9751-661F31BE75E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ars</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>set aria2c dir</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>384ECB6A-F8F0-4CA7-A1B9-FA12EE17D12F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>aria</string>
				<key>subtext</key>
				<string>Start aria2c daemon</string>
				<key>text</key>
				<string>Aria2c daemon</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD65F5B0-15B0-4069-B74D-A9C5307967AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Aria2c daemon runing</string>
				<key>title</key>
				<string>Aria2c</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ADD77F5D-CE95-4629-A81E-1B8C2506413A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/bash
tquery="{query}"
/usr/local/bin/aria2c --conf-path=aria2.conf</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9566A7C2-4FEA-4889-8C80-EC5413EE7028</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>34D555F7-23BA-44B4-BF2F-6C93E97619DD</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>384ECB6A-F8F0-4CA7-A1B9-FA12EE17D12F</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6757B32A-EBD7-46E9-9751-661F31BE75E0</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7F6F36DE-2E4D-41AE-A675-4F2EE4238B1B</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9566A7C2-4FEA-4889-8C80-EC5413EE7028</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>98471683-DA46-43C6-ACAA-71EC864EE12A</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ADD77F5D-CE95-4629-A81E-1B8C2506413A</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CD65F5B0-15B0-4069-B74D-A9C5307967AF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.cnsworder.com</string>
</dict>
</plist>
